YKTR2_ADDR=0.0.0.0
YKTR2_PORT=8080
YKTR2_TAEM=myteam
YKTR2_PER_PAGE=5
YKTR2_SESSION_SECRET=secret
YKTR2_COOKIE_SECURE=false
YKTR2_OAUTH2_CLIENT_ID=...
YKTR2_OAUTH2_CLIENT_SECRET=...
YKTR2_OAUTH2_REDIRECT_HOST=http://localhost:8080
