addr = "127.0.0.1"
port = 8080
team = "myteam"
per_page = 5
session_secret = "secret" # e.g. `openssl rand -base64 32`

[oauth2]
client_id = "..."
client_secret = "..."
redirect_host = "http://localhost:8080"
